body{
  font-family:sans-serif;
  background-color:#EEE;
  list-style-type: none;
  font-style: center;justify-content;
}
h1,h2,h3,h4,h5{
  margin:0;
font-weight:bold;
}
.h2{
  text-align:right;
  font-weight:bold;
  font-style: center;
}
.h3{
  font-weight:bold;
  font-style: center;
}
.p #container{
  background-color:white;
  Margin-left:auto;
  margin-right:auto;
}
#container{
background-color: white;
width:800px;
margin-left: auto;
margin-right: auto;
padding:10px;
}
#header{
  background-color: #66ccFF;
  color:white;
  text-align:center;
  padding:10px;
}
#content{
  padding:10px;

}
#nav{
  width:200px;
  float:left;
  padding:10px;
  text-align:left;
  background-color: white;

  }
.ul{
    list-style-type: none;
    background-color:white;
    color:white;
    float:left;
    text-align: left;
}
.button,li{
  padding:10px;
  font-weight:bold;
  list-style-type: none;
  text-align: left;

}
#nav.selected{
  font-weight:bold;
}
#Main{
  width:800px;
  float:right;
padding:10px;
background-color:white;
}
#footer{
  clear:both;
  padding:10px;
  background-color: #999999;
  color: white;
  text-align:left;
}
