body{
  font-family: 'Dancing Script', cursive;
  background-color:#EEE;
  background-image: url(../img/ic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style-type: none;
  font-style: center;justify-content;
  bg
}

.a{
  text-decoration: none;
}
/* .p #container{
  background-color:white;
  Margin-left:auto;
  margin-right:auto;
} */
#container{
background-color: white;
width:800px;
margin-left: auto;
padding:10px;

}
#container-top{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.wrapper{
  background-blend-mode: luminosity;
  width:200px;
  height: 150px;
  padding:10px;
}

.image-me{
  width:200px;
  height:150px;
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#header{
  background-color: #66ccFF;
  color:white;
  text-align:center;
  padding:10px;
  }

  h1,h2,h3,h4,h5{
    margin:0;
  font-weight:bold;
  }
  .h2{
    text-align:right;
    font-weight:bold;
    font-style: center;
  }
  .h3{
    font-weight:bold;
    font-style: center;
  }
  #container-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

#content{
  padding:10px;
}


#nav{
  width:200px;
  float:left;
  padding:10px;
  padding-left: 10px;
  text-align:center;
  background-color: white;

  }

.ul{
    list-style-type: none;
    background-color:white;
    color:white;
    float:left;
    text-align: left;
}
.button,li{
  padding:10px;
  font-weight:bold;

  font-family: 'Dancing Script', cursive;
  font-family: 'Shadows Into Light', cursive;
  list-style-type: none;
  text-align: left;

}
#nav.selected{
  font-weight:bold;
}
#Main{
  width:900px;
  float:right;
padding:30px;
background-color:white;
}
.box{
  background-color: white;
  width:auto;
  height:auto;
  padding:20px;
  align-content: center;

  }

#footer{
  clear:both;
  padding:10px;
  background-color: #999999;
  color: white;
  text-align:left;
}
