body{
  font-family: 'Aleo', serif;
  background-color:#EEE;
  background-image: url(../Tech/img/screen.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  list-style-type: none;
  font-style: center;justify-content;

}
.a{
  text-decoration: none;
}
@media screen and (Max-width:999px) {
      #container{
        width: 100%;
      }
      #header{
        width:100%;
      }
      #navbar{
        width:30%;
      }
      #main{
        width:70%;
      }
      #footer{
        width:100%;
      }
      img{
        width: 100%;
      }
}

@media screen and (Max-width:640px) {
  #container{
    width: 100%;
  }
  #header{
    width:100%;
  }
  #navbar{
    width: 100%;
  }
  #main{
    width:100%;
  }
  #footer{
    width:100%;
  }
  img{
    width: 100%;
  }
}
@media screen and (Max-width:320px) {
  #container{
    width: 100%;
  }

  }
.p #container{
  background-color:white;
  Margin-left:auto;
  margin-right:auto;
}
.p{
  text-decoration: none;
}
#container{
background-color: white;
width:1000px;
margin-left: auto;
margin-right: auto;
padding:10px;
}

#header{
  background-color: #66ccFF;
  color:white;
  text-align:center;
  padding:10px;
  }

#content{
  padding:10px;
}

#wrapper{
  background-blend-mode: luminosity;
  width:200px;
  height: 150px;
  padding:10px;
}
#float-image{
  float: left;
  clear:right;
  margin-left: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding:2px;
}
#image-me{
  width:200px;
  height:150px;
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#nav{
  width:200px;
  float:left;
  padding:10px;
  padding-left: 10px;
  text-align:center;
  background-color: white;

  }

.ul{
    list-style-type: none;
    background-color:white;
    color:white;
    float:left;
    text-align: left;
}
.button,li{
  padding:10px;
  font-weight:bold;
  font-family: 'Dancing Script', cursive;
  font-family: 'Shadows Into Light', cursive;
  list-style-type: none;
  text-align: left;
}
#nav.selected{
  font-weight:bold;
}
#Main{
  width:900px;
  float:right;
padding:30px;
background-color:white;
}
.iframe{
float: left;
padding-bottom: : 10px;
padding-right: 10px;
clear:right;
border: solid black 1px;
padding:2px;
}
.box{
  background-color: gray;
  width:auto;
  height:auto;
  padding:20px;
  align-content: center;
  }

#footer{
  clear:both;
  padding:10px;
  background-color: #999999;
  color: white;
  text-align:left;
}
